* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

:root {
    --primary-color-hue: 252;
    --dark-color-lightness: 17%;
    --light-color-lightness: 95%;
    --white-color-lightness: 100%;

    --color-white: hsl(252, 30%, var(--white-color-lightness));
    --color-light: hsl(252, 30%, var(--light-color-lightness));
    --color-grey: hsl(252, 15%, 65%);

    --color-secondary: hsl(252, 100%, 90%);
    --color-success: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 65%);
    --color-dark: hsl(252, 30%, var(--dark-color-lightness));
    --color-black: hsl(252, 30%, 10%);


}

body {
    background: #D5DBDB;

}

header {
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fcfcfc;
    z-index: 100;
}

.Logo {
    width: 5rem;
}

.icons_nav {
    display: flex;
    list-style: none;

}

.icons_nav img {
    width: 1.5rem;
    padding: 1rem;
    transition: transform 0.3s;
}

.icons_nav img:hover {
    transform: translateY(-10px);
}

.left,
.right {
    display: flex;
    align-items: center;
}

.search_box {
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0, 1rem;
}

.search_box img {
    width: 1.5rem;
    padding-left: 5px;
}

.search_box input {
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}


.container {
    display: flex;
    justify-content: space-between;
    padding: 15px, 5%;
}

/*-----------------------LEFT BAR--------------------------------------*/
.left_bar_content {
    margin-top: 10vh;
    flex-basis: 20%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    height: max-content;

}

/*------------------------------------Right BAR---------------------------------*/
.right_bar_content {
    margin-top: 10vh;
    flex-basis: 20%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    height: max-content;

}

/*------------------------------------CENTER BAR---------------------------------*/

.center_bar_content {
    margin-top: 10vh;
    flex-basis: 50%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    height: max-content;
    margin-right: 2rem;

}

.create-post {
    width: 100%;
    background: #fff;
    border-radius: 1rem;
    padding: 20px;
    color: #626262;
    margin-top: 1rem;

}

.create-post .profile-photo {
    display: flex;
    align-items: center;
}

.create-post .profile-photo img {
    width: 2.5rem;
    margin-left: 2rem;
    margin-bottom: 1rem;

}

.create-post .profile-photo p {
    font-weight: 900;
    color: #626262;
    padding: 1rem;
}

.create-post .text_post {
    padding-left: 55px;
    padding-top: 20px;
}

.create-post .text_post textarea {
    width: 100%;
    height: 20vh;
    border: 0;
    outline: 0;
    border-bottom: 1PX solid #ccc;
    background: transparent;
    resize: none;
}

.add-post {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px;

}

.add-post a {
    display: flex;
    padding-left: 5rem;
    align-items: center;

    text-decoration: none;
    color: #1d2129;
    font-size: 20px;
    transition: transform 0.3s;
}

.add-post a:hover {
    transform: translateY(-10px);
}

.add-post a img {
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
    margin-right: 10px;

}

/*------------------------------------FEED---------------------------------*/
.center_bar_content .feeds .feed {
    width: 100%;
    background: #fff;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 0.85rem;
    line-height: 1.5;
}

.center_bar_content .feeds .feed i:hover{
    cursor: pointer;
}

.center_bar_content .feed .head {
    display: flex;
    justify-content: space-between;
}

.center_bar_content .feed .user {
    display: flex;
    gap: 1rem;
}

.center_bar_content .feed .photo {
    width: max-content;
    border-radius: 2rem;
    overflow: hidden;
    margin: 2rem;
    
}

.center_bar_content .feed .action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: 0.6rem 0;
}




/*------------------------------------MENSSAGES Left bar and Right bar---------------------------------*/



.chats {
    background: white;
    border-radius: 15px;
    height: max-content;
    margin: 1rem;
    padding: 1rem;

}

.chats H2 {
    text-align: center;
}

.messages {
    border-radius: 2rem;
    padding: 1rem;
}

.messages .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.messages i {
    font-size: 1.4rem;
}

.messages .search_box {
    display: flex;
    margin-bottom: 1rem;

}

.messages .message-requests {
    color: #5f6161;
}

.messages .message {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: start;
}

.message .profile-photo {
    position: relative;
    overflow: visible;
}

.profile-photo img {
    border-radius: 50%;
    width: 3rem;
    transition: transform 0.3s;
}

.profile-photo img:hover {
    transform: translateY(-10px);
}

.messages .message:last-child {
    margin: 0;
}

.messages .message p {
    font-size: 0.8rem;
}