* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #D5DBDB;
    overflow-x: hidden;
}

/*ESTILO PARA EL HEADER*/

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fcfcfc;
    z-index: 100;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.Logo img {
    width: 5rem;
    transition: transform 2s ease;
}

.Logo:hover {
    transform: scale(1.4);

}

.icons_nav {
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: 2vh;
}

.icons_nav #message,
#group {
    display: none;
}

.icons_nav .Profile {
    position: relative;

}

.icons_nav .Profile .dropdown-menu-profile {
    display: none;
    width: 10rem;
    position: absolute;
    top: 100%;
    right: 0;
    background: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    z-index: 1;
}

.icons_nav .Profile:hover .dropdown-menu-profile {
    display: block;

}

.dropdown-menu-profile li {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.dropdown-menu-profile li a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.2s;
}

.dropdown-menu-profile li a:hover {
    background-color: #f1f1f1;
    width: 100%;
}

.dropdown-menu-profile li label.Size {
    margin-right: 10px;
    /* Espacio entre el label y el checkbox */
}


.dropdown-menu-profile li input[type="checkbox"] {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.icons_nav img {
    width: 1.5rem;
    /* Ajustar el tamaño según sea necesario */
    margin: 1rem;
    transition: transform 0.3s;
}

.icons_nav img:hover {
    transform: translateY(-10px);
}

.left,
.right {
    display: flex;
    align-items: center;
}

.search_box {
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.search_box img {
    width: 1.5rem;
    padding-left: 5px;
    transition: transform 0.3s;
}

.search_box img:hover {
    transform: translateX(-10px);
}

.search_box input {
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}

.Size {
    font-size: 14px;
}

/*ESTILO PARA EL CONTENEDOR PADRE Y LOS TRES CONTENEDORES DENTRO DE EL*/
.container {
    display: flex;
    justify-content: space-between;
    height: 100vh;

}


.left_bar_content,
.right_bar_content {
    flex: 1 1 25%;
    /* flex-grow: 1; flex-shrink: 1; flex-basis: 25%; */
    position: relative;
    /* Cambiar sticky a relative para evitar problemas de posición en pantallas pequeñas */
    top: 0;
    /* Ajustar la posición superior */
    height: max-content;
}

.center_bar_content {
    flex: 1 1 50%;
    /* flex-grow: 1; flex-shrink: 1; flex-basis: 50%; */
    position: relative;
    /* Cambiar sticky a relative para evitar problemas de posición en pantallas pequeñas */
    height: max-content;
}



/*ESTILO PARA LA CREACION DE POSTS Y LOS POSTS QUE SE MUESTRAN EN EL FEED*/

.create-post {
    width: 100%;
    background: #fff;
    border-radius: 1rem;
    padding: 20px;
    color: #626262;
    margin-top: 1rem;

}

.create-post .profile-photo {
    display: flex;
    align-items: center;
}

.create-post .profile-photo img {
    width: 2.5rem;
    margin-left: 2rem;
    margin-bottom: 1rem;

}

.create-post .profile-photo p {
    font-weight: 900;
    color: #626262;
    padding: 1rem;
}

.create-post .text_post {
    padding-left: 55px;
    padding-top: 20px;

}

.create-post .text_post textarea {
    width: 100%;
    height: 20vh;
    border: 0;
    outline: 0;
    border-bottom: 1PX solid #ccc;
    background: transparent;
    resize: none;

}

.add-post {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: max-content;

}

.add-post a {
    display: flex;
    padding-left: 5rem;
    align-items: center;
    text-decoration: none;
    color: #1d2129;
    font-size: 20px;
    transition: transform 0.3s;
}

.add-post a:hover {
    transform: translateY(-10px);
}

.add-post a img {
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
    margin-right: 10px;
    max-width: 100%;

}

/*------------------------------------FEED---------------------------------*/
.center_bar_content .feeds .feed {
    width: 100%;
    background: #fff;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 3vh;
    font-size: 0.85rem;
    line-height: 1.5;
}

.center_bar_content .feeds .feed i:hover {
    cursor: pointer;
}

.center_bar_content .feed .head {
    display: flex;
    justify-content: space-between;
}

.center_bar_content .feed .user {
    display: flex;
    gap: 1rem;
}

.center_bar_content .feed .photo {
    width: 100%;
    border-radius: 2rem;
    overflow: hidden;
    margin: 2rem 0;
}

.center_bar_content .feed .action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: 0.6rem 0;
}


/*ESTILO PARA LOS CHATS DE LAS COMUNIDADES Y LOS CHATS PRIVADOS DEL USUARIO*/
.chats {
    background: white;
    border-radius: 15px;
    height: max-content;
    margin: 1rem;
    padding: 1rem;

}

.chats a {
    text-align: center;
    text-decoration: none;
    color: #000;
}

.chats a:hover {
    color: #5f6161;
}


.messages {
    border-radius: 2rem;
    padding: 1rem;
}

.messages .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.messages i {
    font-size: 1.4rem;
}

.messages .search_box {
    display: flex;
    margin-bottom: 1rem;

}

.messages .message-requests {
    color: #5f6161;
}

.messages .message {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: start;
}

.message .profile-photo {
    position: relative;
    overflow: visible;
}

.profile-photo img {
    border-radius: 50%;
    width: 3rem;
    transition: transform 0.3s;
    max-width: 100%;
}

.profile-photo img:hover {
    transform: translateY(-10px);
}

.messages .message:last-child {
    margin: 0;
}

.messages .message p {
    font-size: 0.8rem;
}

.form {
    border: #1d2129 solid;
    z-index: 100;
}

/*LOGIN REGISTER*/

#login_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.login-container,
.register_container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: max-content;
    text-align: center;
    margin-top: 100px;

}

.login-container .logo img,
.register_container .logo img {
    width: 100px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

#username,
#full_name,
#password,
#email {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.register-link {
    margin-top: 20px;
    font-size: 14px;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

/*DARKMODE*/
/* Estilos generales para el modo oscuro */

.dark-mode header {
    background-color: #444;
    color: #fff;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}


.dark-mode .search_box input {
    color: #fff;
}

.dark-mode .dropdown-menu-profile {
    background: #444;
    color: #fff;
}

.dark-mode .dropdown-menu-profile li a {
    color: #fff;
}

.dark-mode .dropdown-menu-profile li a:hover {
    background-color: #666;
}

.dark-mode .create-post {
    background: #444;
    color: #ddd;
}

.dark-mode .center_bar_content .feeds .feed {
    background: #444;
    color: #ddd;
}

.dark-mode .icons_nav .Profile .dropdown-menu-profile {
    background: #444;
    color: #fff;
}

.dark-mode .chats {
    background: #444;
    color: #fff;

}

.dark-mode .container{
    background: #afafaf;
    color: #fff;
}

.dark-mode .container{
    background: #afafaf;
    color: #fff;
}

/* Asegúrate de añadir cualquier otro estilo necesario para el modo oscuro */


/*MEDIAS QUERYS*/

@media (max-width: 1550px) {
    .container {
        flex-direction: column;
        align-items: center;
        flex: 1 1 10%;
        /* flex-grow: 1; flex-shrink: 1; flex-basis: 25%; */
        position: relative;
        /* Cambiar sticky a relative para evitar problemas de posición en pantallas pequeñas */
        top: 0;
        /* Ajustar la posición superior */
    }

    .left_bar_content,
    .right_bar_content {
        display: none;
    }

    .center_bar_content {
        width: 900px;
        padding: 1rem;
    }

    .icons_nav #message,
    #group {
        display: block;
    }
}

@media (max-width: 990px) {
    .container {
        display: flex;
        align-items: center;
    }

    .left_bar_content,
    .right_bar_content {
        display: none;
    }

    .center_bar_content {
        width: 650px;
        padding: 1rem;
    }

    .icons_nav #message,
    #group {
        display: block;
    }


}